.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: #f0f0f0;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.data-table th,
.data-table td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 0.9rem;
}

.data-table th {
  background-color: #f8f8f8;
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.6rem 1.2rem;
  font-size: 0.875rem;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-outline {
  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;
  margin-top: 20px;
}

.btn-outline:disabled {
  color: #999;
  border-color: #ccc;
  cursor: not-allowed;
}

.table-scroll-wrapper {
  overflow-x: auto;
  max-width: 100%;
}

td{
    height: 20px;
    background-color: rgb(247, 244, 244);
}



.truncate-cell {
  max-width: 150px;     /* Fixed width */
  max-height: 40px;     /* Fixed height */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  /* Keep it one line */
}

